// $screen-xs: 480px !default;
// $screen-sm: 768px !default;
// $screen-md: 992px !default;
// $screen-lg: 1200px !default;
@media (max-width: $screen-lg) {}
@media (max-width: $screen-md-max) {
  .slider {
    width: 850px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media (max-width: $screen-sm-max) {
  .slider {
    width: 560px;
  }
  .naya-bow {
    width: 70%;
  }
  .social-feed {
    padding-top: 8px;
  }
  .mt30 {
    margin-top: 10px;
  }
  .naya-detail p {
    line-height: 120%;
  }
  .press-box {
    margin-bottom: 20px;
  }
  .border-right {
    border-right: 0;
  }
  .pd80 {
    padding: 20px;
  }
}
@media (max-width: $screen-xs-max) {
  .coll-img-box img {
    max-width: 100%;
    width: 75%;
    margin: 0 auto;
  }
  .slider {
    width: 285px;
  }
  .social-feed ul li a {
    padding: 5px 0;
  }
  .width80 {
    width: 80%;
  }
  .image-menu {
    left: 10px;
  }
  .home-menu ul li {
    padding: 0 7px;
  }
}
@media (max-width: 480px) {
  .scond {
    padding: 10px 0 14px;
    img {
      zoom: 0.7;
    }
  }
  .category-title h1 {
    font-size: 24px;
  }
  .social-feed ul li a {
    padding: 5px 0;
  }
  .navbar-brand img {
    vertical-align: -webkit-baseline-middle;
    zoom: 0.6;
  }
  .pl20 {
    padding-left: 0;
  }
  .social-feed {
    padding-top: 10px;
  }
  .image-menu {
    left: 10px;
    top: 40px;
    svg:not(:root) {
      overflow: hidden;
      width: 60px;
    }
  }
  .home-menu {
    bottom: 45px;
    width: 100%;
  }
  .home-menu ul li {
    padding: 0 4px;
  }
  .home-menu ul li a {
    font-size: 13px;
  }
  .navbar {
    min-height: 45px;
  }
  .menu-hover ul {
    padding-top: 0;
  }
  .f20 {
    font-size: 20px;
    margin: 0 0 5px;
  }
  .naya-detail p {
    font-size: 11.5px;
    margin: 0 0 7px;
    line-height: 115%;
    text-align: justify;
  }
  .naya-content {
    margin-top: 50px;
  }
  .slider-mid {
    width: 100%;
  }
  .mt0 {
    margin-top: 0;
  }
  .mobil-w {
    width: 50%;
  }
  .naya-bow {
    width: 100%;
  }
  .naya-bow {
    img {
      margin: 0 auto;
    }
  }
  .txt-center {
    text-align: center;
  }
  .mmt30 {
    margin-top: 30px;
  }
  .mmt40 {
    margin-top: 40px;
  }
  .press-box {
    margin-bottom: 10px;
  }
  .img-title {
    font-size: 10px;
  }
  .img-descp {
    padding: 3px 4px 0;
    min-height: 90px;
  }
  .img-desc {
    font-size: 11px;
    padding-top: 6px;
    line-height: 115%;
    text-align: justify;
  }
  .mmt15 {
    margin-top: 15px;
  }
  .mmt10 {
    margin-top: 10px;
  }
  .select-city .form-control {
    height: 40px;
    font-size: 19px;
  }
  .address-detail p {
    line-height: 60%;
    font-size: 12px;
    text-align: justify;
  }
  .f15 {
    font-size: 15px;
  }
  .f13 {
    font-size: 13px;
    text-align: justify;
  }
  .contact-detail p {
    line-height: 60%;
    font-size: 13px;
    text-align: justify;
  }
  .num span {
    padding: 8px 0;
  }
  .border-right {
    border-right: 0 solid #fff;
  }
  .sub {
    a {
      font-size: 16px;
    }
  }
  .form-group {
    margin-bottom: 5px;
  }
  .contact-detail {
    padding-bottom: 5px;
  }
  .pd80 {
    padding: 0;
  }
  textarea.form-control {
    height: 60px;
  }
  .collection-ht {
    height: 340px;
  }
}
@media (max-width: 375px) {
  .collection-ht {
    height: 300px;
  }
}
@media (max-width: 340px) {
  .collection-ht {
    height: 240px;
  }
}
