@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,500);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/fancyBox/source/helpers/jquery.fancybox-buttons.css";
@import "fancybox-override";
/* Bootstrap Variables Goes Here */
$brand-primary: #c8897a !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base-color: #4d4d4d !default;
$dark-color: #ce9586 !default;
$menu-color: #c98a7a!default;
$bg-color: #eac6bb !default;
$color-white: #fff !default;
$hover-color: #c88979 !default;
$font-family-sans-serif: "ColabThi","avia", "Rajdhani", sans-serif !default;
$font-family-serif: "ColabThi","avia",serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
  font-family: "ColabThi";
  src: url("ColabThi.otf");
  src: url("ColabThi.otf#iefix") format("embedded-opentype"), url("../fonts/ColabThi.otf") format("woff"), url("../fonts/ColabThi.otf") format("truetype"), url("../fonts/ColabThi.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avia";
  src: url("avia.ttf");
  src: url("avia.ttf#iefix") format("embedded-opentype"), url("../fonts/avia.ttf") format("woff"), url("../fonts/avia.ttf") format("truetype"), url("../fonts/avia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
// body {
//   overflow-y: scroll !important;
// }
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.navbar-brand img {
  width: 150px;
}
a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}
.pad50 {
  padding: 50px;
}
#XMLID_270_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_280_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_281_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_278_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_274_ {
  &:hover {
    fill: $hover-color;
  }
}
.fp-viewing-0 {
  .home {
    color: #000!important;
  }
}
.fp-viewing-1 {
  .about {
    color: #000!important;
    #XMLID_270_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-2 {
  .about {
    color: #000!important;
    #XMLID_270_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-3 {
  .collection {
    color: #000!important;
    #XMLID_280_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-4 {
  .press {
    color: #000!important;
    #XMLID_278_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-5 {
  .stockists {
    color: #000!important;
    #XMLID_281_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-6 {
  .contact {
    color: #000!important;
    #XMLID_274_ {
      fill: $hover-color;
    }
  }
}
.sticky-bottom {
  position: absolute;
  // height: 50px;
  top: 0;
  display: none;
  width: 100%;
  left: 0;
  z-index: 99;
  @include transition(all 700ms ease);
  &.affix {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: 999;
  }
}
.fp-viewing-0,
 {
  overflow: hidden !important;
}
.fp-viewing-1,
.fp-viewing-2,
.fp-viewing-3,
.fp-viewing-4,
.fp-viewing-5,
.fp-viewing-6,
 {
  overflow: none !important;
  .sticky-bottom {
    display: block;
  }
}
.color-white {
  color: $color-white;
}
.color-primary {
  color: $brand-primary;
}
/* Start writing sass here */
.custom-li {
  ul {
    padding: 0;
    list-style: none;
    display: block;
    margin-bottom: 0;
    li {
      display: inline-block;
      // padding: 0 8px;
    }
  }
}
.social-feed {
  ul {
    li {
      padding: 0 8px;
      a {
        display: inline-block;
        padding: 17px 0;
        i {
          font-size: 22px;
        }
      }
    }
  }
}
.home-slider {
  .flex-direction-nav {
    display: none;
  }
  .flexslider {
    margin: 0;
    border: 0 solid #ffffff;
  }
  .flex-control-nav {
    bottom: 20px;
    z-index: 999;
  }
  .flexslider-container {
    position: relative;
  }
  .flex-control-paging li a {
    background: rgba(184, 122, 107, 0.42);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
  }
  .flex-control-paging li a.flex-active {
    background: #b87a6b;
    cursor: default;
  }
}
.bg-slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.34);
  border-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.pl20 {
  padding-left: 20px;
}
// .social-feed {
//   padding-top: 16px;
// }
.naya-logo {
  a {
    padding: 10px 0;
    display: inline-block;
  }
}
.slider-mid {
  @include position(absolute, 50% null null 50%);
  @include transform (translatex(-50%) translatey(-50%));
  z-index: 9;
  .seeall {
    margin-top: 18px;
    padding-right: 70px;
  }
}
.position-relative {
  position: relative;
}
.home-menu {
  position: absolute;
  bottom: 70px;
  z-index: 9;
  text-align: center;
  margin: 0 auto;
  left: 0;
  width: 100%;
  // transform: translateX(-50%);
  ul {
    li {
      padding: 0 15px;
      a {
        font-size: 20px;
        color: $base-color;
        @include transition(all ease 500ms);
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
.margin0-auto {
  margin: 0 auto;
}
.color-base {
  color: $base-color;
}
.naya-detail {
  p {
    font-size: 15px;
  }
}
.naya-section {
  background: url(../img/bg-pattern.jpg)no-repeat;
  background-size: cover;
}
.category-section {
  background: url(../img/bg1.jpg)no-repeat;
  background-size: cover;
}
.mt30 {
  margin-top: 30px;
}
.mt60 {
  margin-top: 60px;
}
.pt60 {
  padding-top: 60px;
}
.pt40 {
  padding-top: 40px;
}
.pd80 {
  padding: 80px;
}
.margin0 {
  margin: 0;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: 600;
}
.category-title {
  cursor: pointer;
  position: relative;
  h1 {
    font-family: 'avia';
    text-transform: uppercase;
    color: $brand-primary;
    cursor: pointer;
    @include position(absolute, 50% null null 50%);
    @include transform (translatex(-50%) translatey(-50%));
    width: 100%;
  }
  .hover-category {
    opacity: 0;
    @include transition(all 300ms ease);
    cursor: pointer;
    a {
      display: inline-block;
      img {
        width: 180px;
      }
    }
  }
  &:hover {
    .hover-category {
      opacity: 1;
      @include transition(all 300ms ease);
      cursor: pointer;
    }
    .on-hover-show {
      opacity: 0;
      @include transition(all 300ms ease);
    }
  }
}
.img-box {
  img {
    width: 100%;
  }
}
.img-descp {
  @include position(absolute, null null 0px null);
  background: rgba(0, 0, 0, 0.63);
  color: $color-white;
  @include padding(6px 10px 0px 10px);
  // min-height: 100px;
}
.img-title {
  font-size: 18px;
  line-height: 125%;
}
.img-desc {
  font-size: 14px;
  padding-top: 5px;
  line-height: 130%;
  P {
    margin-bottom: 0;
  }
}
.address {
  padding-left: 30px;
}
.address-detail {
  p {
    line-height: 60%;
  }
  a {
    color: $base-color;
  }
}
.select-city {
  position: relative;
  .form-control {
    height: 50px;
    border-radius: 2px;
    border: 1px solid #B5B5B5;
    font-size: 22px;
    @include appearance(none);
    cursor: pointer;
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
    }
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 10px solid;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
    color: #909090;
    content: "";
    pointer-events: none;
  }
}
.border-right {
  border-right: 1px solid #fff;
}
.contact-detail {
  padding-bottom: 30px;
  a:hover {
    p {
      color: darken($brand-primary, 10%);
    }
  }
  p {
    color: $brand-primary;
    line-height: 80%;
    font-size: 15px;
  }
}
.num {
  span {
    padding: 20px 0;
    display: block;
  }
}
.f16 {
  font-size: 16px;
}
.form-control::-webkit-input-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control:-moz-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control::-moz-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control:-ms-input-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control {
  border: 0 solid $brand-primary;
  border-radius: 20px;
}
.image-menu {
  position: absolute;
  z-index: 9;
  top: 60px;
  left: -10px;
}
.coll-img-box {
  // height: 267px;
  width: 100%;
  // position: absolute;
  // top: 0;
  img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
}
.text-up {
  text-transform: uppercase;
}
.collection-ht {
  height: 275px;
}
.collection-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  svg:hover {
    color: #000;
  }
}
.coll-head {
  position: absolute;
  width: 100%;
}
.hover-desc {
  position: absolute;
  background: #e0e0e0;
  padding: 10px 26px;
  font-family: 'Rajdhani';
  font-weight: 500;
  color: #4d4d4d;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
}
.pad10 {
  margin: 10px;
}
.collection-box {
  background: #fff;
  .hover-desc {
    @include transform(translateY(100px));
  }
  &:hover {
    .fb-hover {
      opacity: 0;
    }
  }
  .hover-desc {
    opacity: 0;
    @include transition(all 300ms ease);
    z-index: 1;
    &.active {
      @include transform(translateY(0px));
      opacity: 1;
    }
  }
  .fb-hover {
    opacity: 0;
    position: relative;
    @include transition(all 300ms ease);
    width: 30px;
    height: 30px;
    i {
      font-size: 16px;
      padding-top: 8px;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      text-align: center;
      @include transition(all ease 300ms);
      &:hover {
        color: lighten(#000, 50%) important;
      }
    }
    span {
      opacity: 0;
      width: 10px;
      height: 25px;
    }
  }
  .click {
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
      .fb-hover {
        opacity: 1;
        i {
          color: #333 !important;
          &:focus {
            color: #333 !important;
          }
        }
      }
      .grey-col {
        fill: #cacaca;
        @include transition(all 300ms ease);
      }
    }
  }
  .hover-txt {
    cursor: pointer;
    position: relative;
    z-index: 2;
    &:hover {
      .hover-desc {
        opacity: 1;
      }
      .grey-col {
        fill: #cacaca;
        @include transition(all 300ms ease);
      }
    }
  }
}
.footer-css {
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer {
  background: #000;
}
.menu-hover {
  .dropdowns {
    width: 180px;
    display: none;
    position: absolute;
    top: 48px;
    background: #cd9586;
    @include transition(all 300ms ease);
    left: -5px;
    ul {
      margin: 0;
      padding: 0;
      color: #fff;
      list-style: none;
      li {
        padding: 8px 0;
        a {
          color: #fff;
          font-size: 16px;
          @include transition(all 300ms ease);
          padding: 11px 20px 12px;
          &:hover {
            color: #000;
          }
        }
        .sub-menu {
          li {
            padding: 2px 0 0;
          }
          li a {
            padding-left: 40px;
          }
        }
      }
    }
  }
}
.scond {
  position: relative;
  cursor: pointer;
  padding: 12px 0 17px;
  &.showmenu {
    .dropdowns {
      display: block;
    }
  }
}
.menu-hover {
  ul {
    margin-bottom: 0;
    padding-top: 0;
  }
}
.ml12 {
  margin-left: 15px;
}
.navbar-brand {
  float: none;
  margin-left: 0;
  padding: 0;
  height: auto;
  img {
    vertical-align: text-top;
    display: inherit;
  }
}
.sub {
  a {
    padding-right: 10px;
    font-size: 18px;
    &:hover {
      color: darken($brand-primary, 15%);
    }
  }
}
img.fancybox-image {
  opacity: 1;
}
#fancybox-thumbs.bottom img {
  opacity: 1;
}
.press-box {
  @include transition(all ease 300ms);
  overflow: hidden;
  .img-descp {
    width: 100%;
    opacity: 0;
    @include transform(translatey(150px));
    @include transition(all ease 600ms);
    height: 85px;
    overflow: hidden;
  }
  &:hover .img-descp {
    opacity: 1;
    @include transform(translatey(0px));
  }
}
#fancybox-buttons {
  background: rgba(35, 30, 30, 0.8);
  a.btnPrev {
    display: none !important;
  }
  a.btnPlay {
    display: none !important;
  }
  a.btnNext {
    display: none !important;
  }
  a.btnClose {
    display: none !important;
  }
  &.top {
    top: auto;
    bottom: 0;
    width: 98.7%;
  }
  a.btnToggle {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  ul {
    background: transparent;
    @include box-shadow(none);
    border-radius: 0;
    border: 0;
    li {
      border: 0;
    }
  }
  a.btnToggle {
    border: 0;
  }
}
.fancybox-skin {
  background: transparent;
}
.fancybox-opened .fancybox-skin {
  @include box-shadow(none);
}
.fancybox-overlay {
  background-color: rgba(77, 77, 77, 0.9);
}
.flexslider {
  margin: 0 0 30px;
  background: #EBC7BB;
  border-color: #EBC7BB;
  .flex-direction-nav {
    .flex-prev {
      left: -50px;
      opacity: 0.5;
      &:before {
        content: url('../img/prv.png')!important;
      }
    }
    .flex-next {
      right: -40px;
      opacity: 0.5;
      &:before {
        content: url('../img/nxt.png')!important;
      }
    }
  }
  &:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: -50px;
  }
  &:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: -40px;
  }
}
.size-big {
  font-size: 20px;
  margin: 15px 0 5px;
  font-weight: 600;
}
.fancybox-close {
  background-image: url("../img/close.png");
  background-size: cover;
}
.fancybox-close {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 17px;
  height: 17px;
}
ol.flex-control-nav.flex-control-paging {
  // display: none;
}
// .fancybox-title {
//   position: absolute;
//   top: 0;
//   left: 30px;
//   width: 70px;
// }
.collection-detail.inside {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.icon-image {
  cursor: pointer;
  img {
    opacity: 1 !important;
    width: 20px;
  }
  &.float-left {
    float: left;
    margin-top: 8px;
  }
}
.press-imgholder {
  position: relative;
  span.get-center.youtube-play {
    position: absolute;
    color: #fff;
    width: 80px;
    height: 80px;
    display: block;
    border: 2px solid #fff;
    top: 50%;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    i {
      border-radius: 50%;
      padding: 20px 25px;
      font-size: 38px;
    }
  }
  &.video-holder {
    width: 100%;
    overflow: hidden;
    .youtube-img {
      height: 315px!important;
      width: auto!important;
    }
  }
}
.min-hght {
  min-height: 600px;
}
.submit-over h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 40px;
  font-weight: 700;
}
.mar-top {
  margin-top: 30px;
}
.fancybox-title-inside-wrap {
  padding-top: 0;
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 90%;
}
@import "mobile";
