@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,500);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "fancybox-override";
/* Bootstrap Variables Goes Here */
$brand-primary: #c8897a !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base-color: #4d4d4d !default;
$dark-color: #ce9586 !default;
$menu-color: #c98a7a!default;
$bg-color: #eac6bb !default;
$color-white: #fff !default;
$hover-color: #c88979 !default;
$font-family-sans-serif: "ColabThi","avia", "Rajdhani", sans-serif !default;
$font-family-serif: "ColabThi","avia",serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
  font-family: "ColabThi";
  src: url("ColabThi.otf");
  src: url("ColabThi.otf#iefix") format("embedded-opentype"), url("../fonts/ColabThi.otf") format("woff"), url("../fonts/ColabThi.otf") format("truetype"), url("../fonts/ColabThi.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avia";
  src: url("avia.ttf");
  src: url("avia.ttf#iefix") format("embedded-opentype"), url("../fonts/avia.ttf") format("woff"), url("../fonts/avia.ttf") format("truetype"), url("../fonts/avia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
// body {
//   padding-top: 70px;
// }
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}
#XMLID_270_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_280_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_281_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_278_ {
  &:hover {
    fill: $hover-color;
  }
}
#XMLID_274_ {
  &:hover {
    fill: $hover-color;
  }
}
.fp-viewing-0 {
  .home {
    color: #000!important;
  }
}
.fp-viewing-1 {
  .about {
    color: #000!important;
    #XMLID_270_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-2 {
  .about {
    color: #000!important;
    #XMLID_270_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-3 {
  .collection {
    color: #000!important;
    #XMLID_280_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-4 {
  .press {
    color: #000!important;
    #XMLID_278_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-5 {
  .stockists {
    color: #000!important;
    #XMLID_281_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-6 {
  .contact {
    color: #000!important;
    #XMLID_274_ {
      fill: $hover-color;
    }
  }
}
.fp-viewing-0 {
  .sticky-bottom {
    top: calc(100% - 180px);
  }
}
.color-white {
  color: $color-white;
}
.color-primary {
  color: $brand-primary;
}
/* Start writing sass here */
.custom-li {
  ul {
    padding: 0;
    list-style: none;
    display: block;
    margin-bottom: 0;
    li {
      display: inline-block;
      // padding: 0 8px;
    }
  }
}
.social-feed {
  ul {
    li {
      padding: 0 8px;
      a {
        display: inline-block;
        padding: 17px 0;
        i {
          font-size: 22px;
        }
      }
    }
  }
}
.home-slider {
  .flex-direction-nav {
    display: none;
  }
  .flexslider {
    margin: 0;
    border: 0 solid #ffffff;
  }
  .flex-control-nav {
    bottom: 20px;
    z-index: 999;
  }
  .flexslider-container {
    position: relative;
  }
  .flex-control-paging li a {
    background: rgba(184, 122, 107, 0.42);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
  }
  .flex-control-paging li a.flex-active {
    background: #b87a6b;
    cursor: default;
  }
}
.bg-slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.34);
  border-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.pl20 {
  padding-left: 20px;
}
// .social-feed {
//   padding-top: 16px;
// }
.naya-logo {
  a {
    padding: 10px 0;
    display: inline-block;
  }
}
.slider-mid {
  @include position(absolute, 50% null null 50%);
  @include transform (translatex(-50%) translatey(-50%));
  z-index: 9;
}
.position-relative {
  position: relative;
}
.home-menu {
  position: absolute;
  bottom: 70px;
  z-index: 9;
  text-align: center;
  margin: 0 auto;
  left: 0;
  width: 100%;
  // transform: translateX(-50%);
  ul {
    li {
      padding: 0 15px;
      a {
        font-size: 20px;
        color: $menu-color;
        &:hover {
          color: $menu-color;
        }
      }
    }
  }
}
.margin0-auto {
  margin: 0 auto;
}
.sticky-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  @include transition(all 700ms ease);
  &.affix {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: 999;
  }
}
.color-base {
  color: $base-color;
}
.naya-detail {
  p {
    font-size: 15px;
  }
}
.naya-section {
  background: url(../img/bg-pattern.jpg)no-repeat;
  background-size: cover;
}
.category-section {
  background: url(../img/bg1.jpg)no-repeat;
  background-size: cover;
}
.mt30 {
  margin-top: 30px;
}
.mt60 {
  margin-top: 60px;
}
.margin0 {
  margin: 0;
}
.category-title {
  cursor: pointer;
  position: relative;
  h1 {
    font-family: 'avia';
    color: $brand-primary;
    cursor: pointer;
    @include position(absolute, 50% null null 50%);
    @include transform (translatex(-50%) translatey(-50%));
  }
  .hover-category {
    opacity: 0;
    @include transition(all 300ms ease);
    cursor: pointer;
  }
  &:hover {
    .hover-category {
      opacity: 1;
      @include transition(all 300ms ease);
      cursor: pointer;
    }
    .on-hover-show {
      opacity: 0;
      @include transition(all 300ms ease);
    }
  }
}
.img-box {
  img {
    width: 100%;
  }
}
.img-descp {
  @include position(absolute, null null 0px null);
  background: rgba(0, 0, 0, 0.63);
  color: $color-white;
  @include padding(6px 10px 0px 10px);
  min-height: 120px;
}
.img-title {
  font-size: 18px;
}
.img-desc {
  font-size: 15px;
  padding-top: 12px;
}
.address {
  padding-left: 30px;
}
.address-detail {
  p {
    line-height: 60%;
  }
}
.select-city {
  position: relative;
  .form-control {
    height: 50px;
    border-radius: 2px;
    border: 1px solid #B5B5B5;
    font-size: 22px;
    @include appearance(none);
    cursor: pointer;
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
    }
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 10px solid;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
    color: #909090;
    content: "";
    pointer-events: none;
  }
}
.border-right {
  border-right: 1px solid #fff;
}
.contact-detail {
  padding-bottom: 30px;
  p {
    color: $brand-primary;
    line-height: 80%;
    font-size: 15px;
  }
}
.num {
  span {
    padding: 20px 0;
    display: block;
  }
}
.f16 {
  font-size: 16px;
}
.form-control::-webkit-input-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control:-moz-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control::-moz-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control:-ms-input-placeholder {
  color: $brand-primary;
  font-family: 'ColabThi';
}
.form-control {
  border: 0 solid $brand-primary;
  border-radius: 20px;
}
.header {
  position: relative;
}
.image-menu {
  position: absolute;
  z-index: 9;
  top: 70px;
  left: -10px;
}
.coll-img-box {
  // height: 267px;
  width: 100%;
  position: absolute;
  top: 0;
  img {
    max-width: 100%;
    width: 100%;
  }
}
.text-up {
  text-transform: uppercase;
}
.collection-box {
  position: relative;
  height: 320px;
  overflow: hidden;
  margin-bottom: 20px;
}
.coll-head {
  position: absolute;
  width: 100%;
}
.hover-desc {
  position: absolute;
  background: #e0e0e0;
  padding: 10px 26px;
  font-family: 'Rajdhani';
  font-weight: 500;
  color: #4d4d4d;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
}
.pad10 {
  margin: 10px;
}
.collection-box {
  background: #fff;
  &:hover{
    .hover-desc {
      opacity: 1;
    }
    .fb-hover {
      opacity: 0;
    }
  }
  .hover-desc {
    opacity: 0;
    @include transition(all 300ms ease);
    z-index: 1;
  }
  .fb-hover {
    opacity: 0;
    @include transition(all 300ms ease);
    i {
      font-size: 16px;
      padding-top: 8px;
    }
  }
  .click {
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
      .fb-hover {
        opacity: 1;
        i {
          color: #333;
          &:focus {
            color: #333;
          }
        }
      }
      .grey-col {
        fill: #cacaca;
        @include transition(all 300ms ease);
      }
    }
  }
  .hover-txt {
    cursor: pointer;
    position: relative;
    z-index: 2;
    &:hover {
      .hover-desc {
        opacity: 1;
      }
      .grey-col {
        fill: #cacaca;
        @include transition(all 300ms ease);
      }
    }
  }
}
footer {
  background: #000;
}
.menu-hover {
  .dropdowns {
    display: none;
    position: absolute;
    top: 48px;
    background: #cd9586;
    @include transition(all 300ms ease);
    left: -5px;
    ul {
      margin: 0;
      padding: 0;
      color: #fff;
      list-style: none;
      li {
        padding: 8px 0;
        a {
          color: #fff;
          font-size: 16px;
          @include transition(all 300ms ease);
          padding: 11px 50px 12px 20px;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
.scond {
  position: relative;
  cursor: pointer;
  padding: 12px 0 17px;
  &:hover {
    .dropdowns {
      display: block;
    }
  }
}
.menu-hover {
  ul {
    margin-bottom: 0;
    padding-top: 0;
  }
}
.ml12 {
  margin-left: 15px;
}
.navbar-brand {
  float: none;
  margin-left: 0;
  padding: 0;
  img {
    vertical-align: text-top;
    display: inherit;
  }
}
.sub {
  a {
    padding-right: 10px;
    font-size: 18px;
    &:hover {
      color: $brand-primary;
    }
  }
}
img.fancybox-image {
  opacity: 1;
}
#fancybox-thumbs.bottom img {
  opacity: 1;
}
@import "mobile";
