<section auto-height>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="title-colletcion">
        <h4>Celestial Lotus</h4>
        </div>
        <div class="collection-detail">
          <p>The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="data in collection track by $index">
      <div class="collection-box">
        <div class="coll-head">
          <img src="img/mini-icon.png" alt="mini-icon">
          <img src="img/mini-click2.png" alt="mini-click">
          <img src="img/mini-icon.png" alt="mini-icon">
          <img src="img/mini-click2.png" alt="mini-click">
        </div>
        <div class="coll-img-box">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</section>
