<section class="home-section" auto-height>
  <div class="home-slider">
    <flex-slider flex-slide="s in mySlides">
      <li>
        <img ng-src="{{s}}">
      </li>
    </flex-slider>
    <div class="home-menu">
      <ul>
        <li>
          <a href="">ABOUT</a>
        </li>
        <li><a href="">COLLECTION</a></li>
        <li>
          <a href="">PRESS</a>
        </li>
        <li>
          <a href="">STOCKISTS</a>
        </li>
        <li>
          <a href="">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="naya-section" auto-height>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="section-logo">
          <img src="img/naya-section.png" alt="naya-section">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="naya-content">
          <div class="naya-title text-center">
            <h4>NAYA</h4>
          </div>
          <div class="naya-detail">
            <p>The brand Naya, which is Hindi for New, has its roots in tradition. Naya revives elements of Indian philosophies that have been diluted or lost over time, reintroducing these elements in a contemporary way and expressing them through fine
              jewellery. </p>
            <p>Naya’s first endeavour is subdivided into two collections, both inspired by the gateways of life force and energy- The Chakras. </p>
            <p>
              Celestial Lotus – The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary
              and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.
            </p>
            <p>
              Synergies – A Chakra is the platform in which energies blend and synergize. Energy is always in motion, interweaving and interconnecting. This collection is about activating multiple Chakras by using complementary stones and pieces of jewellery creating
              a symbiosis that a single Chakra could not easily reach. The movement or transition of these energies inspired the Synergies collection. A convergence of feminine forms and fluid construction in a monochromatic palette with pops of colour.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ananya-section" auto-height>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="section-logo">
          <img src="img/naya-section.png" alt="naya-section">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="naya-bow">
          <img src="img/ananya.jpg" alt="ananya" class="img-responsive">
        </div>
      </div>
      <div class="col-md-8">
        <div class="naya-content">
          <div class="naya-title">
            <h4>ANANYA</h4>
          </div>
          <div class="naya-detail">
            <p>The brand Naya, which is Hindi for New, has its roots in tradition. Naya revives elements of Indian philosophies that have been diluted or lost over time, reintroducing these elements in a contemporary way and expressing them through fine
              jewellery. </p>
            <p>Naya’s first endeavour is subdivided into two collections, both inspired by the gateways of life force and energy- The Chakras. </p>
            <p>
              Celestial Lotus – The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary
              and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.
            </p>
            <p>
              Synergies – A Chakra is the platform in which energies blend and synergize. Energy is always in motion, interweaving and interconnecting. This collection is about activating multiple Chakras by using complementary stones and pieces of jewellery creating
              a symbiosis that a single Chakra could not easily reach. The movement or transition of these energies inspired the Synergies collection. A convergence of feminine forms and fluid construction in a monochromatic palette with pops of colour.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="category-section" auto-height>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="section-logo">
          <img src="img/category-section.png" alt="category-section">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="category-title text-center">
          <h4>SYNERGIES</h4>
          <div class="hover-category">
            <img src="img/c1.jpg" alt="ring" class="img-responsive">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="press-section" auto-height>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="section-logo">
          <img src="img/press-section.png" alt="press-section">
        </div>
      </div>
      <div class="col-md-8">
        <div class="title text-center">
          <h4>PRESS</h4>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4" ng-repeat="data in press track by $index">
        <div class="press-box">
          <div class="img-box">
            <img ng-src="{{data.img}}" alt="{{data.title}}" class="img-responsive">
          </div>
          <div class="img-title">
            <span>{{data.title}}</span>
          </div>
          <div class="img-desc">
            <P>{{data.desc}}</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="stockist-section" auto-height>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="section-logo">
          <img src="img/stockist.png" alt="stockist">
        </div>
      </div>
      <div class="col-md-8">
        <div class="title text-center">
          <h4>STOCKISTS</h4>
        </div>
      </div>
    </div>
    <div class="row">
<div class="col-md-offset-4 col-md-4">
  <div class="title text-center">
    <h4>SELECT CITY</h4>
  </div>
  <div class="select-city">
    <select class="form-control">
  <option>Mumbai</option>

</select>

  </div>
  <div class="address">
    <div class="address-title">
      <h5>German Consulate General </h5>
    </div>
    <div class="address-detail">
      <p>Hoechst House, 10th Floor,</p>
      <p>193 Backbay Reclamation, Nariman Point,</p>
      <p>Tel: +91 22 2283 2422 / 2283 2517</p>
      <p>Fax: +91 22 2202 5493,</p>
    </div>
    <div class="address-title">
      <h5>German Consulate General </h5>
    </div>
    <div class="address-detail">
      <p>Hoechst House, 10th Floor,</p>
      <p>193 Backbay Reclamation, Nariman Point,</p>
      <p>Tel: +91 22 2283 2422 / 2283 2517</p>
      <p>Fax: +91 22 2202 5493,</p>
    </div>
    <div class="address-title">
      <h5>German Consulate General </h5>
    </div>
    <div class="address-detail">
      <p>Hoechst House, 10th Floor,</p>
      <p>193 Backbay Reclamation, Nariman Point,</p>
      <p>Tel: +91 22 2283 2422 / 2283 2517</p>
      <p>Fax: +91 22 2202 5493,</p>
    </div>
  </div>
</div>
    </div>
  </div>
</section>
<section class="contact-section" auto-height>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="section-logo">
          <img src="img/contact-section.png" alt="contact">
        </div>
      </div>
    </div>
    <div class="row">
<div class="col-md-offset-1 col-md-4">
  <div class="title">
    <h4>CONTACT</h4>
  </div>
  <div class="contact-detail">
<p>#.71, Meher Building,Shivaji Park,</p>
<p>Ranade Road,Dadar West, Mumbai, </p>
<p>Maharashtra 400028 </p>
<p>+91 22 2445 5034 </p>
<p>info@naya.com</p>
  </div>

</div>
<div class="col-md-offset-1 col-md-4">
  <div class="contact-form">
    <form action="">
      <div class="form-group">

    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
  </div>
  <div class="form-group">

    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">

    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone">
  </div>
  <div class="form-group">

  <textarea class="form-control" rows="3"></textarea>
  </div>
    </form>
  </div>
</div>
    </div>
  </div>
</section>
