<section class="home-section" auto-height>
  <div class="home-slider">
    <flex-slider flex-slide="s in mySlides">
      <li>
        <img ng-src="{{s}}">
      </li>
    </flex-slider>
    <div class="home-menu">
      <ul>
        <li>
          <a href="">ABOUT</a>
        </li>
        <li><a href="">COLLECTION</a></li>
        <li>
          <a href="">PRESS</a>
        </li>
        <li>
          <a href="">STOCKISTS</a>
        </li>
        <li>
          <a href="">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="naya-section" auto-height>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-logo">
        <img src="img/naya-section.png" alt="naya-section">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <div class="naya-content">
        <div class="naya-title text-center">
          <h4>NAYA</h4>
        </div>
        <div class="naya-detail">
          <p>The brand Naya, which is Hindi for New, has its roots in tradition. Naya revives elements of Indian philosophies that have been diluted or lost over time, reintroducing these elements in a contemporary way and expressing them through fine jewellery. </p>
          <p>Naya’s first endeavour is subdivided into two collections, both inspired by the gateways of life force and energy- The Chakras. </p>
          <p>
            Celestial Lotus – The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.
          </p>
          <p>
            Synergies – A Chakra is the platform in which energies blend and synergize. Energy is always in motion, interweaving and interconnecting. This collection is about activating multiple Chakras by using complementary stones and pieces of jewellery creating a symbiosis that a single Chakra could not easily reach. The movement or transition of these energies inspired the Synergies collection. A convergence of feminine forms and fluid construction in a monochromatic palette with pops of colour.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="ananya-section" auto-height>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-logo">
        <img src="img/naya-section.png" alt="naya-section">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="naya-bow">
        <img src="img/ananya.jpg" alt="ananya" class="img-responsive">
      </div>
    </div>
    <div class="col-md-8">
      <div class="naya-content">
        <div class="naya-title">
          <h4>ANANYA</h4>
        </div>
        <div class="naya-detail">
          <p>The brand Naya, which is Hindi for New, has its roots in tradition. Naya revives elements of Indian philosophies that have been diluted or lost over time, reintroducing these elements in a contemporary way and expressing them through fine jewellery. </p>
          <p>Naya’s first endeavour is subdivided into two collections, both inspired by the gateways of life force and energy- The Chakras. </p>
          <p>
            Celestial Lotus – The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.
          </p>
          <p>
            Synergies – A Chakra is the platform in which energies blend and synergize. Energy is always in motion, interweaving and interconnecting. This collection is about activating multiple Chakras by using complementary stones and pieces of jewellery creating a symbiosis that a single Chakra could not easily reach. The movement or transition of these energies inspired the Synergies collection. A convergence of feminine forms and fluid construction in a monochromatic palette with pops of colour.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
