<div ng-include="template.header" class="template header sticky-bottom"></div>
<div class="fullpage">
  <section class="section home-section position-relative">
    <div class="home-slider">
      <flex-slider flex-slide="s in mySlides" class="position-relative">
        <li>
          <div class="bg-slider" ng-style="{'background-image':'url({{s}})'}" auto-height class="img-responsive"></div>
        </li>
      </flex-slider>
      <!-- <div class="slider-mid">

          <div class="mid-logo text-center">
            <img src="img/mid-logo.png" alt="logo" class="img-responsive margin0-auto">
          </div>

    </div> -->
      <div class="home-menu custom-li">
        <ul>
          <li>
            <a ng-click="changePage('about')">ABOUT</a>
          </li>
          <li>
            <a ng-click="changePage('collection')">COLLECTIONS</a>
          </li>
          <li>
            <a ng-click="changePage('press')">PRESS</a>
          </li>
          <li>
            <a ng-click="changePage('stockists')">STOCKISTS</a>
          </li>
          <li>
            <a ng-click="changePage('contact')">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section naya-section position-relative" id="naya" auto-height>
    <div class="slider-mid width80">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="naya-content">
              <div class="naya-title text-center">
                <h2 class="color-base f20 bold">NAYA</h2>
              </div>
              <div class="naya-detail color-base mt30 mt0 text-justify">
                <p>The brand Naya, which is Hindi for New, has its roots in tradition. Naya revives elements of Indian philosophies that have been diluted or lost over time, reintroducing these elements in a contemporary way and expressing them through fine
                  jewellery.
                </p>
                <p>Naya’s first endeavour is subdivided into two collections, both inspired by the gateways of life force and energy- The Chakras.
                </p>
                <p>
                  Celestial Lotus – The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary
                  and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.
                </p>
                <p>
                  Synergies – A Chakra is the platform in which energies blend and synergize. Energy is always in motion, interweaving and interconnecting. This collection is about activating multiple Chakras by using complementary stones and pieces of jewellery creating
                  a symbiosis that a single Chakra could not easily reach. The movement or transition of these energies inspired the Synergies collection. A convergence of feminine forms and fluid construction in a monochromatic palette with pops of colour.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section ananya-section naya-section position-relative" auto-height>
    <div class="slider-mid width80">
      <div class="container">

        <div class="row">
          <div class="col-md-offset-1 col-md-3 col-xs-12">
            <div class="naya-bow mmt40 hidden-xs">
              <img src="img/ananya.jpg" alt="ananya" class="img-responsive mobil-w">
            </div>
            <div class="naya-bow mmt40 visible-xs">
              <img src="img/ananya-mobile.jpg" alt="ananya" class="img-responsive mobil-w">
            </div>
          </div>
          <div class="col-md-7 col-xs-12">
            <div class="">
              <div class="naya-title txt-center">
                <h2 class="color-base margin0 f20 bold">ANANYA</h2>
              </div>
              <div class="naya-detail mt30 mmt10 text-justify">
                <p>The brand Naya, which is Hindi for New, has its roots in tradition. Naya revives elements of Indian philosophies that have been diluted or lost over time, reintroducing these elements in a contemporary way and expressing them through fine
                  jewellery.
                </p>
                <p>Naya’s first endeavour is subdivided into two collections, both inspired by the gateways of life force and energy- The Chakras.
                </p>
                <p>
                  Celestial Lotus – The Lotus is an important symbolic element in the Chakras. It is often used to visualise each Chakra and represents cosmic harmony and consciousness. The collection translates the visual language of the Lotus symbolizing it in contemporary
                  and geometric forms. A juxtaposition of edgy detailing with delicate forms in a palette that flows from red rubies, pink tourmalines, pleochroic tanzanites and black diamonds and pearls.
                </p>
                <p>
                  Synergies – A Chakra is the platform in which energies blend and synergize. Energy is always in motion, interweaving and interconnecting. This collection is about activating multiple Chakras by using complementary stones and pieces of jewellery creating
                  a symbiosis that a single Chakra could not easily reach. The movement or transition of these energies inspired the Synergies collection. A convergence of feminine forms and fluid construction in a monochromatic palette with pops of colour.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section category-section position-relative" auto-height>
    <div class="slider-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-4 col-xs-offset-3 col-md-4 col-xs-6">
            <div class="category-title text-center">
              <h1 class="on-hover-show">SYNERGIES</h1>
              <div class="hover-category">
                <a ui-sref="collection"><img src="img/on-hover.png" alt="ring" class="img-responsive margin0-auto" style="cursor:pointer;"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-4 col-xs-offset-3 col-md-4 col-xs-6">
            <div class="category-title text-center">
              <h1 class="on-hover-show uppercase">Celestial Lotus</h1>
              <div class="hover-category">
                <a ui-sref="collection"><img src="img/on-hover2.png" alt="ring" class="img-responsive margin0-auto" style="cursor:pointer;"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section press-section naya-section position-relative" auto-height>
    <div class="slider-mid width80">
      <div class="container">
        <div class="title text-center pt40">
          <h1 class="f20 bold">PRESS</h1>
        </div>
        <div class="row mmt15 pd80">
          <div class="col-md-4 col-xs-6" ng-repeat="data in press track by $index">
            <a href="">
              <div class="press-box position-relative">
                <div class="img-box">
                  <img ng-src="{{data.img}}" alt="{{data.title}}" class="img-responsive">
                </div>
                <div class="img-descp">
                  <div class="img-title">
                    <span>{{data.title}}</span>
                  </div>
                  <div class="img-desc">
                    <P>{{data.desc}}</P>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section stockist-section naya-section position-relative" auto-height>
    <div class="slider-mid">
      <div class="container">
        <div class="title text-center hidden-xs">
          <h1 class="bold">STOCKISTS</h1>
        </div>
        <div class="row mt30">
          <div class="col-md-offset-4 col-md-4">
            <div class="title text-center hidden-md hidden-lg mmt15">
              <h1 class="f20">STOCKISTS</h1>
            </div>
            <div class="title text-center">
              <h4 class="f15">SELECT CITY</h4>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <div class="select-city">
                  <select class="form-control">
                    <option>Mumbai</option>
                  </select>
                </div>
                <div class="address">
                  <div class="address-title mt30 mmt15">
                    <h4 class="f15">German Consulate General
                </h4>
                  </div>
                  <div class="address-detail">
                    <p>Hoechst House, 10th Floor,</p>
                    <p>193 Backbay Reclamation, Nariman Point,</p>
                    <p>Tel: <a href="tel:+912222832422">+91 22 2283 2422</a> / <a href="tel:+912222832517">2283 2517</a></p>
                    <p>Fax: +91 22 2202 5493,</p>
                  </div>
                  <div class="address-title mt30 mmt15">
                    <h4 class="f15">German Consulate General
                </h4>
                  </div>
                  <div class="address-detail">
                    <p>Hoechst House, 10th Floor,</p>
                    <p>193 Backbay Reclamation, Nariman Point,</p>
                    <p>Tel: <a href="tel:+912222832422">+91 22 2283 2422</a> / <a href="tel:+912222832517">2283 2517</a></p>
                    <p>Fax: +91 22 2202 5493,</p>
                  </div>
                  <div class="address-title mt30 mmt15">
                    <h4 class="f15">German Consulate General
                </h4>
                  </div>
                  <div class="address-detail">
                    <p>Hoechst House, 10th Floor,</p>
                    <p>193 Backbay Reclamation, Nariman Point,</p>
                    <p>Tel: <a href="tel:+912222832422">+91 22 2283 2422</a> / <a href="tel:+912222832517">2283 2517</a></p>
                    <p>Fax: +91 22 2202 5493,</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section  category-section position-relative" auto-height>
    <div class="slider-mid width80">
      <div class="container">
        <div class="row mmt40">
          <div class="col-md-offset-1 col-md-4">
            <div class="title">
              <h1 class="color-primary f20 bold">CONTACT</h1>
            </div>
          </div>
        </div>
        <div class="row mt30 mmt10">
          <div class="col-md-offset-1 col-md-4 col-sm-5 border-right">
            <div class="contact-detail">
              <p>#.71, Meher Building,Shivaji Park,</p>
              <p>Ranade Road,Dadar West, Mumbai,
              </p>
              <p>Maharashtra 400028
              </p>
              <div class="num">
                <a href="tel:+912222832422" class="color-primary f16 f13"> +91 22 2445 5034
              </a>
              </div>
              <div class="email">
                <a href="mailto:info@naya.com" class="color-primary f16 f13">info@naya.com</a>
              </div>
            </div>

          </div>
          <div class="col-md-offset-1 col-md-4 col-sm-7">
            <div class="contact-form">
              <form action="">
                <div class="form-group">

                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                </div>
                <div class="form-group">

                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">

                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone">
                </div>
                <div class="form-group">

                  <textarea class="form-control" rows="3" placeholder="Message" style="resize:none;"></textarea>
                </div>
              </form>
              <div class="pull-right sub">
                <a href="" class="color-primary">SUBMIT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="template.footer" class="template footer footer-css"></div>
  </section>
</div>
