<section auto-height class="category-section pt60">
  <div ng-include="template.header" class="template header"></div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center pt40">
            <h1 class="f20 color-primary text-up">PRESS</h1>
          </div>
        </div>
      </div>
      <div class="slider mt60">
        <flex-slider class="carousel" flex-slide="pressholder in press track by $index" item-width="265" item-margin="20" animation="slide">
          <li>
            <a href="{{pressholder.video}}" fancybox class="" ng-class="{'fancybox.iframe':content.isIframe}">
              <a href="{{pressholder.image|serverimage}}" fancybox class="" ng-class="{'fancybox.iframe':content.isIframe}">
                <div class="press">
                  <figure>
                    <div class="press-imgholder">
                      <img ng-src="{{pressholder.image|serverimage}}" alt="" class="img-responsive">
                    </div>
                    <figcaption class="text-uppercase size-big">{{pressholder.name}}</figcaption>
                    <!-- <div class="text-right">{{content.date}}</div> -->
                  </figure>
                </div>
              </a>
            </a>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</section>
