<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button> -->

            <div class="menu-hover custom-li">
              <ul class="padding0">
                <li class="scond">
                   <img src="img/menu.png" alt="logo" width="30">

                              <div class="dropdowns">
                                   <ul>
                                     <li>
                                       <a href="">ABOUT</a>
                                     </li>
                                     <li>
                                       <a href="">COLLECTION</a>
                                     </li>
                                     <li>
                                       <a href="">PRESS</a>
                                     </li>
                                     <li>
                                       <a href="">STOCKISTS</a>
                                     </li>
                                     <li>
                                       <a href="">CONTACT</a>
                                     </li>
                                   </ul>
                                 </div>
                </li>
                <li class="ml12">
                  <div class="naya-logo">
                    <a class="navbar-brand" href="#/home"> <img src="img/naya-logo.png" alt="logo" class="pl20"> </a>
                  </div>
                </li>
              </ul>
              <!-- <div class="scond navbar-brand"> -->


              <!-- <div class="dropdowns">
                <ul>
                  <li>
                    <a href="">ABOUT</a>
                  </li>
                  <li>
                    <a href="">COLLECTION</a>
                  </li>
                  <li>
                    <a href="">PRESS</a>
                  </li>
                  <li>
                    <a href="">STOCKISTS</a>
                  </li>
                  <li>
                    <a href="">CONTACT</a>
                  </li>
                </ul>
              </div> -->
              <!-- </div> -->

            </div>
          </div>

          <!-- <div class="collapse navbar-collapse" id="nav-collapse">
                 <div ng-include="template.menu" class="template menu"></div>
          </div> -->

        </div>
        <div class="col-md-9">
          <div class="social-feed pull-right custom-li">
            <ul>
              <li>
                <a href=""><img src="img/fb.png" alt="facebook"></a>
              </li>
              <li>
                <a href="">
                  <img src="img/insta.png" alt="instagram">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>

</header>
