<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="navbar-header">
            <div class="menu-hover custom-li">
              <ul class="padding0">
                <li class="scond">
                  <img src="img/menu.png" alt="logo" width="30">

                  <div class="dropdowns">
                    <ul>
                      <li>
                        <a ui-sref="about">ABOUT</a>
                      </li>
                      <li>
                        <a class="collection" ui-serf="presscollection">COLLECTIONS</a>
                        <ul class="sub-menu">
                          <li><a ui-sref="collection({id:'1'})">SYNERGIES</a></li>
                          <li><a ui-sref="collection({id:'2'})">CELESTIAL LOTUS</a></li>
                        </ul>
                      </li>
                      <li>
                        <a ui-sref="presshome">PRESS</a>
                      </li>
                      <li>
                        <a ui-sref="stockists">STOCKISTS</a>
                      </li>
                      <li>
                        <a ui-sref="contact">CONTACT</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="ml12">
                  <div class="naya-logo">
                    <a class="navbar-brand" href="#/home"> <img src="img/naya-logo.png" alt="logo" class="pl20"> </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xs-6">
          <div class="social-feed pull-right custom-li">
            <ul>
              <li>
                <a href="https://www.facebook.com/nayajewellery/" target="_blank">
                  <img src="img/fb.png" alt="facebook"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/nayajewellery/" target="_blank">
                  <img src="img/insta.png" alt="instagram">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="img/pinterest.png" alt="Pinterest">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>

</header>
